.AnimatedDropdown {
  background-color: rgb(255, 255, 255);
  transition: all 0.7s ease;
  text-align: center;
  user-select: none;
  position: absolute;
  font-family: 'orbitronregular';
  font-weight: 700;
  border: 3px solid #ddd;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  &:hover {
    border: 3px solid rgb(1, 5, 3);
  }
  
  &--rectangle {
    border: 3px solid #ddd;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    &:hover {
      border: 3px solid rgb(1, 5, 3);
    }
  }
  &--circle {
    border: 3px solid rgb(255, 255, 255);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    &:hover {
      border: 3px solid rgb(1, 5, 3);
    }
  }
  &__arrow {
    border: 1em solid transparent;
    border-bottom: none;
    border-top-color: #ddd;
    content: '';
    vertical-align: middle;
    display: inline-block;
    position: relative;
    bottom: 5px;

    &--circle {
      content: "";
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid transparent;
      border-bottom: 15px solid #ddd;
      animation: slide-in-blurred 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    &--rectangle {
    }
  }
  &__header {
    cursor: pointer;

    &--circle {
      &--title {
        width: 110px;
        height: 110px;
        border-radius: 50%;
      }
    }
    &--rectangle {
      width: 120px;
      height: 40px;
      
      &--title {
        width: 70%;
        height: 35px;
        display: inline-block;
        margin-top: 10px;
      }
    }
  }

  &__list {
    display: inline-block;
    height: 100%;
    width: 200px;
    vertical-align: middle;

    &--circle {
      margin-left: -65px;
      margin-top: -5px;
      width: 240px;
      animation: slide-in-blurred 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

      &__arrow {
      }
    }
    &--rectangle {
      margin-top: 10px;
      margin-left: -3px;
      animation: slide-in-blurred-left 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

      &--right {
        margin-top: 10px;
        margin-left: -77px;
        animation: slide-in-blurred-right 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
      }
    }
  }
  &__item {
    border-bottom: 1px solid #ddd;
    border-left: 3px solid #ddd;
    border-right: 3px solid #ddd;
    height: 45px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    transition: all 0.7s ease;

    &--fading {   
      margin-top: 70px;
      cursor: default;
      transition: all 0 ease;
      width: 200px;
      border-radius: 20px;
    }

    &:first-child {
      border-top: 3px solid #ddd;
      border-radius: 20px 20px 0 0;
    }
    &:last-child {
      border-radius: 0 0 20px 20px;
      border-bottom: 3px solid #ddd;
    }
    &:hover {
      background-color: rgb(2, 3, 2);
      color: white;
    }
    &:active {
      background-color: rgb(6, 182, 85);
    }
  }
}

@font-face {
  font-family: 'orbitronregular';
  src: url('./orbitron-variablefont_wght-webfont.woff2') format('woff2'),
       url('./orbitron-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes slide-in-blurred {
  0% {
    transform: translateY(-50px) scaleY(1) scaleX(0.2);
    opacity: 0;
    pointer-events: none;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    transform: translateY(-50px) translateX(-50px) scaleY(1) scaleX(0.2);
    opacity: 0;
    pointer-events: none;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    transform: translateY(-50px) translateX(50px)  scaleY(1) scaleX(0.2);
    opacity: 0;
    pointer-events: none;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    opacity: 1;
  }
}
